@{
    ViewData["Title"] = "Home Page";
}
<style>
    * {
        margin:0;
        padding:0;
    }
    .card{
        margin: 3%;
        position: relative;
    }

    .city-txt {
        position: absolute;
        top: 130px;
        left: 20px;
        color: white;
        font-weight: bold;
        font-size: 2.5rem;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    }
    .card {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        
    }
    
    .card:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
            transform: scale(1.3);
            z-index:100;
    }
    .jumbotron {
        height:20rem;

    }

</style>




<div class="container ">
    <div class="jumbotron">
        <h1 class="display-4">Welcome To Hapvai</h1>
        <p class="lead">The best place where you can order food from your favorite restaurants.</p>
        <hr class="my-4">
        <p>Find your favourite place</p>
        <div class="lead">

            
            <form method="get" asp-controller="Restaurant" asp-action="AllRestaurantsFromSearch">
                <div class="input-group rounded">
                    <input name="SearchString" type="search" class="form-control rounded" placeholder="Search for a restaurant..." aria-label="Search"
                           aria-describedby="search-addon" />
                    <input  type="submit" value="Search" class="btn btn-outline-primary"/>
                </div>
            </form>
                
            
        </div>
    </div>
    <h3>Find Restaurants in these cities: </h3>
    <div class="row pl-2">
        <div class="col-md-4">
            @{
                var parameters = new Dictionary<string, string> { ["city"] = "sofia" };

            }
            <div class="card " style="width: 19rem; ">
                <a asp-controller="Restaurant" asp-action="All" asp-all-route-data="parameters">
                    <img style="height: 12rem" class=" card-img-top" src="https://www.easyjet.com/ejcms/cache/medialibrary/Images/JSS/Destinations/Hero/Bulgaria_Sofia_3840x2160.jpg?mw=1920&hash=D60A003DB2CBE907498A389A03B37A12E626A988" alt="Card image cap">
                    <h3 class="city-txt">Sofia</h3>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            @{
                parameters["city"] = "plovdiv" ;
            }
            <div class="card" style="width: 19rem; ">
                <a asp-controller="Restaurant" asp-action="All" asp-all-route-data="parameters">
                    <img style="height: 12rem" class=" card-img-top" src="https://media.tacdn.com/media/attractions-splice-spp-674x446/06/96/47/12.jpg" alt="Card image cap">
                    <h3 class="city-txt">Plovdiv</h3>
                </a>

            </div>
        </div>

        <div class="col-md-4">
            @{
                parameters["city"] = "burgas" ;
            }
            <div class="card " style="width: 19rem; ">
                <a asp-controller="Restaurant" asp-action="All" asp-all-route-data="parameters">
                    <img style="height: 12rem" class=" card-img-top" src="https://blog.esky.bg/wp-content/uploads/2020/07/istock-1018199162.jpg" alt="Card image cap">
                    <h3 class="city-txt">Burgas</h3>
                </a>
            </div>
        </div>
    </div>
    <div class="row pl-2">
        <div class="col-md-4 ">
            @{
                parameters["city"] = "varna" ;
            }
            <div class="card " style="width: 19rem; ">
                <a asp-controller="Restaurant" asp-action="All" asp-all-route-data="parameters">
                    <img style="height: 12rem" class="card-img-top" src="https://www.capital.bg/shimg/zx952y526_3916897.jpg" alt="Card image cap">
                    <h3 class="city-txt">Varna</h3>
                </a>

            </div>
        </div>
        <div class="col-md-4 ">
            @{
                parameters["city"] = "stara zagora" ;
            }
            <div class="card " style="width: 19rem; ">
                <a asp-controller="Restaurant" asp-action="All" asp-all-route-data="parameters">
                    <img style="height: 12rem" class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/3/33/Samarsko_Zname_Panorama.jpg" alt="Card image cap">
                    <h3 class="city-txt">Stara Zagora</h3>
                </a>

            </div>
        </div>

        <div class="col-md-4 ">
            @{
                parameters ["city"] = "ruse" ;
            }
            <div class="card " style="width: 19rem;">
                <a asp-controller="Restaurant" asp-action="All" asp-all-route-data="parameters">
                    <img style="height: 12rem" class="card-img-top" src="https://webnews.bg/uploads/images/35/9135/369135/768x432.jpg?_=1531986512" alt="Card image cap">
                    <h3 class="city-txt">Ruse</h3>
                </a>

            </div>
        </div>
    </div>
    <div>
        Name : @ViewBag.Name
        Age: @ViewBag.Age
    </div>
</div>

