@model RestaurantShowModel


@{
    ViewData["Title"] = "Show";
}


<style>
    .menu {
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
        grid-gap: 20px 40px;
    }

    .food-items {
        display: grid;
        position: relative;
        grid-template-rows: auto 1fr;
        border-radius: 15px;
        box-shadow: 0 0 15px rgba(0,0,0,0.1);
    }

        .food-items img {
            position: relative;
            width: 100%;
            border-radius: 15px 15px 0 0;
        }

    img {
        height: 300px;
        object-fit: cover;
    }

    .product-name {
        font-weight: 500;
        font-size: 1.5em !important;
    }

    .details {
        padding: 20px 10px;
        display: grid;
        grid-template-rows: auto 1fr;
        grid-row-gap: 10px;
    }

    .details-sub {
        display: grid;
        grid-template-columns: auto auto;
    }

        .details-sub > h5 {
            font-weight: 600;
            font-size: 18px;
        }

    .price {
        text-align: right;
        font-weight: 500;
        font-size: 1.5em !important;
    }
    #addProductBtn {
        margin: 0;
        padding: 0;
        position: fixed;
        width: 4rem;
        height: 4rem;
        bottom: 100px;
        right: 50px;
        cursor: pointer;
        text-decoration: none;
        border-radius: 50%;
        color: white;
        background-color: rgb(6, 139, 28);
        font-size: 3rem;
        text-align: center;
        line-height: 4rem;
    }

    
</style>


<h1>This is @Model.Name</h1>
@*<a class="btn btn-primary" asp-area="" asp-controller="Product" asp-action="Add" asp-route-id="@(ViewContext.RouteData.Values["id"])">Add a Product</a>*@

<div class="menu" id="view-all">
    @await Html.PartialAsync("~/Views/Product/_ViewAllProducts.cshtml", Model)
</div>



<a id="addProductBtn"
   onclick="showInPopup('@Url.Action("Add","Product",new {id =ViewContext.RouteData.Values["id"] },Context.Request.Scheme)','New Product')" 
   >
    <p>+</p>
</a>



@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}







